---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

<h2>Work in Progress</h2>

{% assign wip = site.publications | where: "venue", "Job Market Paper" | sort: "date" | reverse %}
{% assign wip2 = site.publications | where: "venue", "CERGE-EI Working Paper" | sort: "date" | reverse %}
{% assign wip3 = site.publications | where: "venue", "Data work ongoing" | sort: "date" | reverse %}

{% for post in wip %}
  {% include archive-single.html %}
{% endfor %}

{% for post in wip2 %}
  {% include archive-single.html %}
{% endfor %}

{% for post in wip3 %}
  {% include archive-single.html %}
{% endfor %}

<hr>
<h2>Published</h2>

{% assign published = site.publications | where: "venue", "Review of Economics of the Household, February 2025" | sort: "date" | reverse %}

{% for post in published %}
  {% include archive-single.html %}
{% endfor %}


